<h3>Send it with the following contents.</h3>

<%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  
  <p>Description:<%= @post.description %></p>
  <p>Image:<%= image_tag (@post.image.url) if @post.image && @post.image.url %></p>
  <%= form.hidden_field :description %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit  "confirm", class:'btn btn-primary' %>
<% end %>

<%= form_with(model: @post, url: new_post_path, local: true, method: 'get') do |form| %>
    <%= form.hidden_field :description %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit "back", name: 'back', class: "btn btn-info" %>
  <% end %>